*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
figure,
blockquote,
pre {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

body {
  font-family: "Instrument Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
}

input,
textarea,
select,
button {
  font: inherit;
  color: inherit;
}

input,
textarea,
select {
  border: none;
  outline: none;
  background: transparent;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button:disabled {
  cursor: not-allowed;
}

*:focus-visible {
  outline-offset: 2px;
}
