@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
@import "./mixins.scss";
@import "./variables.scss";
body {
  font-family: "Instrument Sans", serif;
  font-optical-sizing: auto;
  background-color: $color-white-primary;
}

.loginContainer {
  margin-top: 5rem;
  @media (max-width: 640px) {
    background-color: $color-white-secondary;
  }
  .logoC {
    @media (max-width: 640px) {
      align-self: baseline;
      padding: 30px 19px;
    }
  }
  form {
    background-color: $color-white-secondary;
    padding: 40px;
    margin: 50px 0;
    @media (max-width: 640px) {
      margin: 0;
      padding: 24px;
    }
    .pass {
      @include body-s;
    }
    p {
      @include body-m;
      color: $color-gray-dark;
      margin-bottom: 40px;
      margin-top: 8px;

      &:last-child {
        text-align: center;

        @media (max-width: 640px) {
          display: flex;
          flex-direction: column;
          margin-bottom: 60px;
        }
      }
    }
    label {
      @include body-s;
      color: $color-gray-dark;
      margin-bottom: 5px;
    }
    h1 {
      text-align: left;
      @include heading-m;
    }
    .header {
      font-family: "Instrument Sans", serif;
    }
    .loginBtn {
      @include buttonPrimary;
      margin-bottom: 24px;
    }
    .signupBtn {
      border: none;
      color: #633cff;
      padding: 0;
      width: auto;
      height: a;
      margin-left: 4px;
      @media (max-width: 640px) {
        display: block;
      }
    }
    .input {
      @include inputs;
      margin-bottom: 24px;
      padding-left: 45px;
      @media (max-width: 640px) {
        min-width: auto;
      }
    }
  }
}

header {
  background-color: $color-white-secondary;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 16px 24px;
  border-radius: 12px;
  margin-bottom: 24px;
  @media (max-width: 724px) {
    padding: 15px 12px;
  }
  @media (max-width: 624px) {
    .mainLogo {
      background: url("/images/logo-devlinks-small.svg");
      background-repeat: no-repeat;
      width: 32px;
      height: 32px;
      img {
        display: none;
      }
    }
    border-radius: 0px;
    margin-bottom: 16px;
    padding: 16px 24px;
    flex-wrap: wrap;
  }
  .links,
  .profileDetail {
    @include heading-s;
    padding: 11px 27px;
    border-radius: 8px;
    cursor: pointer;
    @media (max-width: 724px) {
      padding: 10px 15px;
    }
    @media (max-width: 624px) {
      width: 74px;
      height: 42px;
    }
    p {
      margin-left: 8px;
      @media (max-width: 624px) {
        display: none;
      }
    }
  }
  .links {
    background-color: $color-purple-light;
    .active {
      color: $color-blue;
    }
    margin-right: 16px;
    @media (max-width: 724px) {
      margin-right: 8px;
    }
    @media (max-width: 624px) {
      margin-right: 0px;
    }
    .notActive {
      color: $color-gray-dark;
    }
    &--notActive {
      background-color: $color-white-secondary;
    }
  }
  .profileDetail {
    &--active {
      background-color: $color-purple-light;
    }

    p {
      color: $color-gray-dark;
    }
    .active {
      color: $color-blue;
    }
    margin-right: 16px;

    .notActive {
      color: $color-gray-dark;
    }
    &--notActive {
      background-color: $color-white-secondary;
    }
    @media (max-width: 724px) {
      margin-right: 8px;
    }
    @media (max-width: 624px) {
      margin-right: 0px;
      justify-content: center;
    }
  }
  .previewBtn {
    color: $color-blue;
    @include heading-s;
    cursor: pointer;
    border: 1px solid $color-blue;
    border-radius: 8px;
    height: 46px;
    width: 114px;
    @media (max-width: 624px) {
      background: url("/images/icon-preview-header.svg");
      background-repeat: no-repeat;
      width: 52px;
      background-position: center;
      height: 42px;
      span {
        display: none;
      }
    }
    &.loading {
      background-color: transparent !important;
      color: $color-blue !important;
      border: 1px solid $color-blue !important;
      pointer-events: none;
    }
    &.back {
      font-size: 14px;
    }
  }
}
main {
  .preview {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-white-secondary;
    border-radius: 12px;
    padding: 24px;
    margin-right: 24px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    @media (max-width: 1024px) {
      display: none;
    }
  }
  .createdLinks {
    p {
      @include body-m;
      color: $color-white-primary !important;
      &:last-child {
        text-align: center;
      }
    }
  }

  .addLink {
    width: 60%;
    background-color: $color-white-secondary;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 12px;
    padding: 40px;
    @media (max-width: 1024px) {
      width: 100%;
      padding: 24px;
    }
    @media (max-width: 624px) {
      margin: 0 16px;
    }

    h1 {
      margin-bottom: 6px;
    }
    h1,
    h2 {
      @include heading-m;
      color: $color-dark;
    }
    h2 {
      @media (max-width: 624px) {
        font-size: 24px;
      }
    }
    p {
      @include body-m;
      color: $color-gray-dark;
    }
    .lpt {
      @include body-s;
      color: $color-dark;
      font-weight: 200;
    }
    .start {
      background-color: $color-white-primary;
      padding: 20px;
      min-height: 440px;
      border-radius: 12px;
      @media (max-width: 624px) {
        padding: 14px;
      }
    }
    .addLinkBtn {
      margin-top: 40px;
      width: 100%;
      border: 1px solid $color-blue;
      color: $color-blue;
      height: 46px;
      @include heading-s;
      border-radius: 8px;
      margin-bottom: 30px;
    }
    h2 {
      margin: 40px 0 24px 0px;
    }

    .detailsForm {
      .addLinkSection {
        .imageUploadSection {
          > div {
            background-color: #fafafa;
            border-radius: 12px;
            padding: 20px;
            align-items: center;
            justify-content: space-between;
            @media (max-width: 624px) {
              flex-direction: column;
              align-items: flex-start;
            }
            p {
              @include body-s;
              margin-left: 24px;
              &:first-child {
                @include body-m;
                width: 50%;
                margin-right: 16px;
                margin-left: 0;
                @media (max-width: 624px) {
                  width: auto;
                  margin-bottom: 16px;
                  margin-right: 0;
                }
              }
              @media (max-width: 624px) {
                margin-left: 0;
              }
            }
            label {
              display: flex;
              justify-content: center;
              flex-direction: column;
              align-items: center;
              background-color: $color-purple-light;
              color: $color-blue;
              @include heading-s;
              border-radius: 12px;
              min-width: 193px;
              min-height: 193px;
              @media (max-width: 624px) {
                margin-bottom: 24px;
              }
            }
          }
        }
        .descriptions {
          background-color: #fafafa;
          margin-top: 24px;
          padding: 20px;
          label {
            display: flex;
            align-items: center;
            input {
              width: 80%;
              padding: 12px 16px;
              border-radius: 12px;
              border: 1px solid #ccc;
              @media (max-width: 624px) {
                width: 100%;
              }

              &:focus {
                outline: none;
                border-color: rgba(99, 60, 255, 0.8);
                box-shadow: 0 0 10px 7px rgba(99, 60, 255, 0.2);
              }
            }
            p {
              width: 20%;
              @include body-m;
              margin-right: 16px;
              cursor: pointer;
              @media (max-width: 624px) {
                margin-right: 0;
                margin-bottom: 4px;
                width: auto;
              }
            }
            &:nth-child(2) {
              margin: 12px 0;
            }
            @media (max-width: 624px) {
              flex-direction: column;
              align-items: flex-start;
            }
          }
        }
      }
    }
  }
  .linksAndPlatform {
    background-color: #fafafa;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    padding: 20px;
    border-radius: 12px;
    @media (max-width: 624px) {
      margin-top: 2rem;
    }
    .number {
      div {
        @include body-m;
        color: $color-gray-dark;
        img {
          margin-right: 8px;
        }
        span {
          color: $color-dark;
        }
      }
      button {
        @include body-m;
        color: $color-gray-dark;
      }
      margin-bottom: 12px;
    }
    .linkUrl {
      color: $color-dark;
      @include body-m;
      &::placeholder {
        color: $color-dark;
      }
    }
  }
}
.customSelect {
  .dropdownName {
    @include body-m;
    color: $color-dark;
  }
}
.userName {
  @include heading-s;
  color: $color-dark;
}
.userEmail {
  @include body-m;

  color: #737373;
}
.saveBtn,
.shareLink {
  @include heading-s;
  background-color: $color-blue;
  color: $color-white-primary;
  align-self: flex-start;
  border-radius: 8px;
  width: 92px;
  height: 50px;
  margin-top: 60px;
  &:hover {
    opacity: 0.5;
  }
  &:active {
    opacity: 0.25;
  }
}
.shareLink {
  margin-top: 0;
  width: 114px;
  height: 46px;
}
.backBtn {
  color: $color-blue;
  @include heading-s;
  cursor: pointer;
  border: 1px solid $color-blue;
  border-radius: 8px;
  height: 46px;
  width: 158px;
}
.userNameP {
  @include heading-m;
  color: $color-dark;
  @media (max-width: 624px) {
    background-color: inherit;
  }
}
.backToEditor {
  color: $color-blue;
  @include heading-s;
  cursor: pointer;
  border: 1px solid $color-blue;
  border-radius: 8px;
  height: 46px;
  width: 114px;

  &.loading {
    background-color: transparent !important;
    color: $color-blue !important;
    border: 1px solid $color-blue !important;
    pointer-events: none;
  }
  &.back {
    font-size: 14px;
  }
}
.mainPreview {
  @media (max-width: 1024px) {
    padding: 48px 56px;
    top: 90px;
  }
  @media (max-width: 624px) {
    background-color: white;
    box-shadow: none;
    padding: 0;
    background-color: inherit;
    position: unset;
    transform: none;
    width: 100%;
    margin-top: 2.5rem;
  }
}
.headerPreview {
  @media (max-width: 624px) {
    background-color: white;
    box-shadow: none;
    padding: 16px 24px;
    background-color: inherit;
    margin-bottom: 0;
    min-height: auto;
  }
  > div {
    @media (max-width: 1024px) {
      padding: 16px 24px;
    }
    @media (max-width: 624px) {
      box-shadow: none;
      padding: 0;
      background-color: inherit;
      margin-top: 0;
    }
  }
}
.successPreview {
  > div {
    @media (max-width: 624px) {
      width: 80%;
    }
  }
}
