$color-blue: rgb(99, 60, 255);
$color-purple: rgb(190, 173, 255);
$color-purple-light: rgb(239, 235, 255);
$color-dark: rgb(51, 51, 51);
$color-gray-dark: rgb(115, 115, 115);
$color-gray-light: rgb(217, 217, 217);
$color-white-primary: rgb(250, 250, 250);
$color-white-secondary: rgb(255, 255, 255);
$color-red: rgb(255, 57, 57);
